@model Isearch.Models.TrainingFeedBack

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TrainingFeedBack</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="fb1" class="control-label"></label>
                <input asp-for="fb1" class="form-control" />
                <span asp-validation-for="fb1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fb2" class="control-label"></label>
                <input asp-for="fb2" class="form-control" />
                <span asp-validation-for="fb2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fb3" class="control-label"></label>
                <input asp-for="fb3" class="form-control" />
                <span asp-validation-for="fb3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fb4" class="control-label"></label>
                <input asp-for="fb4" class="form-control" />
                <span asp-validation-for="fb4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fb5" class="control-label"></label>
                <input asp-for="fb5" class="form-control" />
                <span asp-validation-for="fb5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fb6" class="control-label"></label>
                <input asp-for="fb6" class="form-control" />
                <span asp-validation-for="fb6" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fb7" class="control-label"></label>
                <input asp-for="fb7" class="form-control" />
                <span asp-validation-for="fb7" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fb8" class="control-label"></label>
                <input asp-for="fb8" class="form-control" />
                <span asp-validation-for="fb8" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fb9" class="control-label"></label>
                <input asp-for="fb9" class="form-control" />
                <span asp-validation-for="fb9" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fb10" class="control-label"></label>
                <input asp-for="fb10" class="form-control" />
                <span asp-validation-for="fb10" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fb11" class="control-label"></label>
                <input asp-for="fb11" class="form-control" />
                <span asp-validation-for="fb11" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fb12" class="control-label"></label>
                <input asp-for="fb12" class="form-control" />
                <span asp-validation-for="fb12" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fb13" class="control-label"></label>
                <input asp-for="fb13" class="form-control" />
                <span asp-validation-for="fb13" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fb14" class="control-label"></label>
                <input asp-for="fb14" class="form-control" />
                <span asp-validation-for="fb14" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fb15" class="control-label"></label>
                <input asp-for="fb15" class="form-control" />
                <span asp-validation-for="fb15" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fb16" class="control-label"></label>
                <input asp-for="fb16" class="form-control" />
                <span asp-validation-for="fb16" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fb17" class="control-label"></label>
                <input asp-for="fb17" class="form-control" />
                <span asp-validation-for="fb17" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fb18" class="control-label"></label>
                <input asp-for="fb18" class="form-control" />
                <span asp-validation-for="fb18" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fb19" class="control-label"></label>
                <input asp-for="fb19" class="form-control" />
                <span asp-validation-for="fb19" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fb20" class="control-label"></label>
                <input asp-for="fb20" class="form-control" />
                <span asp-validation-for="fb20" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fb22" class="control-label"></label>
                <input asp-for="fb22" class="form-control" />
                <span asp-validation-for="fb22" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fb23" class="control-label"></label>
                <input asp-for="fb23" class="form-control" />
                <span asp-validation-for="fb23" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fb24" class="control-label"></label>
                <input asp-for="fb24" class="form-control" />
                <span asp-validation-for="fb24" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fb25" class="control-label"></label>
                <input asp-for="fb25" class="form-control" />
                <span asp-validation-for="fb25" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fb26" class="control-label"></label>
                <input asp-for="fb26" class="form-control" />
                <span asp-validation-for="fb26" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fb27" class="control-label"></label>
                <input asp-for="fb27" class="form-control" />
                <span asp-validation-for="fb27" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fb28" class="control-label"></label>
                <input asp-for="fb28" class="form-control" />
                <span asp-validation-for="fb28" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fb29" class="control-label"></label>
                <input asp-for="fb29" class="form-control" />
                <span asp-validation-for="fb29" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fb30" class="control-label"></label>
                <input asp-for="fb30" class="form-control" />
                <span asp-validation-for="fb30" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrainingID" class="control-label"></label>
                <select asp-for="TrainingID" class="form-control" asp-items="ViewBag.TrainingID"></select>
                <span asp-validation-for="TrainingID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
